@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body {
    font-family: "Inter", sans-serif;
    background-image: url("https://images.unsplash.com/photo-1522881193457-37ae97c905bf?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.text-center {
    text-align: center;
}

.navigation {
    margin-bottom: 100px;
}

.badge {
    text-transform: uppercase;
}

h1 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 80px;
}

p {
    text-align: center;
}

.button {
    background-color: rgb(88, 202, 88);
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: 0;
    font-size: 16px;
    line-height: 1.25;
    display: inline-block;
}

.button--gray {
    background-color: #ccc;
    color: black;
}
